#results-wrapper {
  padding: 20px;
  width: 100%;
  max-width: 700px;
  box-sizing: border-box;
}
.result-box {
  font-family: Helvetica, sans-serif;
  padding: 0 15px;
  margin-bottom: 30px;
}
.result-box h2 {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
}
.result-box h3 {
  font-style: italic;
  font-size: 16px;
  margin-bottom: 5px;
}
.result-box p {
  font-size: 15px;
}